<!doctype html>
<html>
  <head>
    <title>Job Board</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}"><!-- the double flower bracket (i.e {{), signifies that the code inside it is nor html but python code. In the url for the first thing is the display name for the link and the next thing are the arguments that the python function may use-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  
  </head>
  <body>
    <div class="container top">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>